<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>DARA --Products</title>
    <!-- Font Awesome Script for icons -->
    <script src="https://kit.fontawesome.com/dfc970b65d.js" crossorigin="anonymous"></script>
    <!-- Google fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <!-- Bootstrap Css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css'>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/products.css">
</head>

<body>
    <section id="header">
        <nav class="navbar navbar-expand-lg navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="images/brand_icon.PNG" alt="brand logo"
                        style="width: 50%"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#category">
                                <i class="fab fa-shopify"></i>
                                <span style="display: inline-block">Shop by</span>
                            </a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>
                    <a class="nav-link" href="/cart" style="color:#9b9d9e"><i class="fas fa-cart-arrow-down"></i>
                        <span class="cart-icon">Cart</span> </a>

                </div>
            </div>
        </nav>
    </section>

    <section id="banner">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                    class="active"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./images/194_1.webp" alt="image_1">
                </div>
                <div class="carousel-item">
                    <img src="./images/194_2.webp" alt="image_2">
                </div>
                <div class="carousel-item">
                    <img src="./images/194_3.jpg" alt="image_3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </section>

    <section id="trending">
        <div class="container-fluid">
            <div class="trending-header">
                <h2>Trending Products</h2>
            </div>


            <section>
                <div class="container-fluid">
                    <div class="row">
                        <div class="scrollcards">
                            <% for(let product of trendingProducts) { %>

                                <div class="tcard">
                                    <div class="card-header">
                                        <%= product.categoryName %>
                                    </div>
                                    <div class="card-body">
                                        <!-- Button trigger modal -->
                                        <h5 class="card-title">
                                            <%= product.name%>
                                        </h5>
                                        <p class="card-text">
                                            <%= product.description%>
                                        </p>
                                        <p class="card-text">
                                            Available : <%= product.unit_in_stock%>
                                        </p>


                                    </div>
                                    <div class="card-footer text-muted">
                                        Price: <span>&#x20B9;</span>
                                        <%= product.unit_price %>
                                    </div>
                                </div>
                                <% } %>


                        </div>
                    </div>
                </div>
            </section>

    </section>

    <section id="products">
        <div class="container-fluid">
            <h2>Discover All Products</h2>
            <div class="catalogue">
                <div class="row">
                    <% for (let product of products) { %>
                        <div class="col col-lg-3 mb-4">
                            <div class="card text-center">
                                <div class="card-header">
                                    <%= product.categoryName %>
                                </div>
                                <div class="card-body">
                                    <!-- Button trigger modal -->
                                    <h5 class="card-title">
                                        <%= product.name%>
                                    </h5>
                                    <p class="card-text">
                                        <%= product.description%>
                                    </p>
                                    <p class="card-text">
                                        In Stocks : <%= product.unit_in_stock%>
                                    </p>

                                    <form action="/addtocart" method="post" name="form1">
                                        <input type="hidden" name="product[productId]"
                                            value="<%=product.productId %>" />
                                        <input type="hidden" name="product[productName]" value="<%=product.name %>" />
                                        <input type="hidden" name="product[price]" value="<%=product.unit_price %>" />
                                        <input type="hidden" name="product[stock]" value="<%=product.unit_in_stock%>" />
                                        <label for="quantity">Quantity : </label>
                                        <input type="int" name="product[quantity]" placeholder=01 id="quantity"
                                            width="20" />
                                        <input type="hidden" name="customerId" value=20 />

                                        <button class="btn btn-outline-primary mt-3" id="submit" type="submit"
                                            onclick="check()">Add
                                            to
                                            Cart</button>
                                    </form>

                                    <a href="#" data-bs-toggle="modal"
                                        data-bs-target="#id_<%= product.productId  %>">Reviews</a>

                                    <!-- Scrollable modal -->
                                    <!-- <div class="modal-dialog modal-dialog-scrollable">
                                        ...
                                    </div> -->
                                    <!-- Modal -->
                                    <div class="modal fade" id="id_<%= product.productId  %>" data-bs-keyboard="false"
                                        tabindex="-1">
                                        <div class="modal-dialog modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">Reviews</h5>
                                                    <button type="button" class="btn-close"
                                                        data-bs-dismiss="modal"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table">
                                                        <thead class="">
                                                            <tr>
                                                                <th scope="col">No.</th>
                                                                <th scope="col">Name</th>
                                                                <th scope="col">Rating</th>
                                                                <th scope="col">Time</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% var num_rating=0 %>
                                                                <% var sum_rating=0 %>
                                                                    <% for(let review of p_reviews){ %>
                                                                        <% if(review.productId==product.productId){ %>
                                                                            <% num_rating+=1 %>
                                                                                <% sum_rating+=review.rating %>
                                                                                    <tr>
                                                                                        <th scope=" row">
                                                                                            <%= num_rating %>
                                                                                        </th>
                                                                                        <td>
                                                                                            <%= review.name %>
                                                                                        </td>
                                                                                        <td>
                                                                                            <%= review.rating %>
                                                                                        </td>

                                                                                        <%var d1=review.day
                                                                                            +"/"+review.month
                                                                                            +"/"+review.year %>
                                                                                            <td>
                                                                                                <%=d1 %>
                                                                                            </td>
                                                                                    </tr>
                                                                                    <% } %>
                                                                                        <% } %>


                                                        </tbody>
                                                    </table>
                                                    <form action="/review/submit" method="post">
                                                        <input type="number" name="productId" hidden
                                                            value="<%= product.productId %>">
                                                        <b><label for="rating">Leave Rating :</label></b>
                                                        <select name="rating" id="rating" name="rating">
                                                            <div>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                            </div>
                                                        </select>

                                                        <div>
                                                            <button type="submit"
                                                                class="btn btn-primary mt-3">Submit</button>
                                                        </div>
                                                    </form>

                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% var avg=(num_rating>0)?(sum_rating/num_rating).toFixed(1):0 %>
                                    <p>
                                        <b> Avg Rating:</b>
                                        <%= avg %> (<%= num_rating%> reviews)
                                    </p>
                                    <div class="card-footer text-muted">
                                        <b>
                                            Price: <span>&#x20B9;</span>
                                            <%= product.unit_price %>
                                        </b>
                                    </div>
                            </div>

                        </div>
                        <% } %>


                </div>
            </div>
        </div>
    </section>

    <!-- Bootstrap Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>


    <script src="function.js"></script>

</body>

</html>